{{- /* vi:set ft=gotmpl */ -}}

{{ .FullName }}
{{- if .Summary }} - {{ .Summary }}{{ end }}

{{- if .Description }}

{{ .Description }}

{{- end }}

{{- if .VisibleCommands }}

Commands:
{{- range .VisibleCommands }}
  {{ padCommand .Name }}
  {{- if .Summary }}{{ .Summary }}{{ end }}
{{- end}}

{{- end }}

{{- if .VisibleFlags}}

Options:
{{- range .VisibleFlags }}
  {{ printFlagShort .Short }}--{{ .Name }}
{{- if .Description }}
{{ .Description | pad 10 }}
{{- end }}
{{- if .Env }}
{{- if .Description }}{{ print "\n" }}{{ end }}
{{ pad 10 "" }}Env: {{ .Env | join ", " }}
{{- end }}
{{ end }}

{{- end }}
