{{- /* vi:set ft=gotmpl */ -}}

{{ .FullName }}
{{- if .Summary }} - {{ .Summary }}{{ end }}

{{- if .Description }}

{{ .Description }}

{{- end }}

{{- if .VisibleCommands }}

Commands:
{{- range .VisibleCommands }}
  {{ padCommand .Name }}
  {{- if .Summary }}{{ .Summary }}{{ end }}
{{- end}}

{{- end }}

{{- if .VisibleFlags}}

Options:
{{- $lastIndex := -1 }}
{{- range $i, $_ := .VisibleFlags }}
{{- $lastIndex = $i }}
{{- end }}

{{- range $i, $flag := .VisibleFlags }}
{{- with $flag }}
{{ .Usage }}
{{- if .Description }}
{{ .Description | pad 10 }}
{{- if or .Env .Default .Deprecated }}{{ print "\n" }}{{ end }}
{{- end }}
{{- if .Deprecated }}
{{ pad 10 "" }}Deprecated: {{ .Deprecated }}
{{- end }}
{{- if .Default }}
{{ pad 10 "" }}Default: {{ .Default }}
{{- end }}
{{- if .Env }}
{{ pad 10 "" }}Env: {{ .Env | join ", " }}
{{- end }}
{{- if ne $i $lastIndex  }}{{ print "\n" }}{{ end }}
{{- end }}
{{- end }}

{{- end }}
