{{- /* vi:set ft=gotmpl */ -}}

{{ .FullName }}
{{- if .Summary }} - {{ .Summary }}{{ end }}

{{- if .Description }}

{{ .Description }}

{{- end }}

{{- if .VisibleCommands }}

Commands:
{{- range .VisibleCommands }}
  {{ padCommand .Name }}
  {{- if .Summary }}{{ .Summary }}{{ end }}
{{- end}}

{{- end }}

{{- if .VisibleFlags}}

Options:
{{- $lastIndex := sub (len .VisibleFlags) 1 }}
{{- range $i, $flag := .VisibleFlags }}
{{- with $flag }}
{{ .Usage }}
{{- if .Description }}
{{ .Description | pad 10 }}
{{- if or .Env .Deprecated }}{{ print "\n" }}{{ end }}
{{- end }}
{{- if .Deprecated }}
{{ pad 10 "" }}Deprecated: {{ .Deprecated }}
{{- end }}
{{- if .Env }}
{{ pad 10 "" }}Env: {{ .Env | join ", " }}
{{- end }}
{{- if and (ne $i $lastIndex) (or .Description .Env .Deprecated) }}{{ print "\n" }}{{ end }}
{{- end }}
{{- end }}

{{- end }}
